---
export interface Props {
  title?: string
}
const { title } = Astro.props
---

<svg
  viewBox="0 0 24 24"
  width="24"
  height="24"
  fill="currentColor"
  stroke="currentColor"
  stroke-width="2"
  stroke-linecap="round"
  stroke-linejoin="round"
  role={title ? "img" : "presentation"}
  aria-hidden={!title}
>
  {title && <title>{title}</title>}
  <path d="M223.62,226.42a8,8,0,0,1-10.05,5.2L128,204.39,42.43,231.62a8,8,0,1,1-4.85-15.25l64-20.37-64-20.38a8,8,0,1,1,4.85-15.24L128,187.6l85.57-27.22a8,8,0,1,1,4.85,15.24l-64,20.38,64,20.37A8,8,0,0,1,223.62,226.42ZM68,108c0-20.1,9.77-40.87,28.24-60a156,156,0,0,1,27.57-22.76,8,8,0,0,1,8.38,0C134.47,26.59,188,60.08,188,108a60,60,0,0,1-120,0Zm60,44a16,16,0,0,0,16-16c0-13.57-10-24.46-16-29.79-6,5.33-16,16.22-16,29.79A16,16,0,0,0,128,152ZM84,108a43.83,43.83,0,0,0,12.09,30.24c0-.74-.09-1.49-.09-2.24,0-28,26.44-45.91,27.56-46.66a8,8,0,0,1,8.88,0C133.56,90.09,160,108,160,136c0,.75,0,1.5-.09,2.24A43.83,43.83,0,0,0,172,108c0-32-32.26-58-44-66.34C116.27,50,84,76,84,108Z" transform="scale(0.375)" opacity="0.2" />
  <path d="M32 42C35.9768 41.9954 39.7894 40.4135 42.6015 37.6015C45.4135 34.7894 46.9954 30.9768 47 27C47 15.02 33.6175 6.6475 33.0475 6.2975C32.7324 6.1038 32.3698 6.00125 32 6.00125C31.6302 6.00125 31.2676 6.1038 30.9525 6.2975C28.4439 7.92767 26.1312 9.84109 24.06 12C19.4425 16.7825 17 21.975 17 27C17.0046 30.9768 18.5865 34.7894 21.3985 37.6015C24.2106 40.4135 28.0232 41.9954 32 42ZM28 34C28 30.6075 30.5 27.885 32 26.5525C33.5 27.885 36 30.6075 36 34C36 35.0609 35.5786 36.0783 34.8284 36.8284C34.0783 37.5786 33.0609 38 32 38C30.9391 38 29.9217 37.5786 29.1716 36.8284C28.4214 36.0783 28 35.0609 28 34ZM32 10.415C34.935 12.5 43 19 43 27C43.0009 29.8147 41.9186 32.5217 39.9775 34.56C39.99 34.375 40 34.1875 40 34C40 27 33.39 22.5225 33.11 22.335C32.7813 22.1157 32.3951 21.9987 32 21.9987C31.6049 21.9987 31.2187 22.1157 30.89 22.335C30.61 22.5225 24 27 24 34C24 34.1875 24 34.375 24.0225 34.56C22.0814 32.5217 20.9991 29.8147 21 27C21 19 29.0675 12.5 32 10.415ZM55.905 56.605C55.8254 56.8554 55.6973 57.0876 55.528 57.2884C55.3586 57.4892 55.1514 57.6548 54.9181 57.7755C54.6847 57.8962 54.4299 57.9698 54.1682 57.992C53.9064 58.0142 53.6428 57.9847 53.3925 57.905L32 51.0975L10.6075 57.905C10.3572 57.9846 10.0936 58.0141 9.83186 57.9919C9.57012 57.9696 9.31532 57.8961 9.08201 57.7754C8.8487 57.6546 8.64146 57.4891 8.47211 57.2883C8.30276 57.0875 8.17461 56.8553 8.095 56.605C8.01539 56.3547 7.98586 56.0911 8.0081 55.8294C8.03035 55.5676 8.10393 55.3128 8.22464 55.0795C8.34536 54.8462 8.51085 54.639 8.71166 54.4696C8.91247 54.3003 9.14467 54.1721 9.395 54.0925L25.395 49L9.395 43.905C9.13776 43.8314 8.8979 43.7069 8.68964 43.5388C8.48138 43.3708 8.30895 43.1628 8.18256 42.9269C8.05618 42.6911 7.9784 42.4323 7.95384 42.1658C7.92928 41.8994 7.95843 41.6307 8.03958 41.3757C8.12072 41.1207 8.2522 40.8846 8.42624 40.6814C8.60028 40.4781 8.81333 40.3119 9.05278 40.1925C9.29223 40.073 9.55321 40.0029 9.82026 39.9861C10.0873 39.9694 10.355 40.0064 10.6075 40.095L32 46.9L53.3925 40.095C53.645 40.0064 53.9127 39.9694 54.1797 39.9861C54.4468 40.0029 54.7078 40.073 54.9472 40.1925C55.1867 40.3119 55.3997 40.4781 55.5738 40.6814C55.7478 40.8846 55.8793 41.1207 55.9604 41.3757C56.0416 41.6307 56.0707 41.8994 56.0462 42.1658C56.0216 42.4323 55.9438 42.6911 55.8174 42.9269C55.691 43.1628 55.5186 43.3708 55.3104 43.5388C55.1021 43.7069 54.8622 43.8314 54.605 43.905L38.605 49L54.605 54.0925C54.8554 54.1721 55.0876 54.3002 55.2884 54.4695C55.4893 54.6389 55.6548 54.8461 55.7755 55.0794C55.8962 55.3128 55.9698 55.5676 55.992 55.8293C56.0142 56.0911 55.9847 56.3547 55.905 56.605Z" transform="scale(0.375)" />
</svg>
