---
export interface Props {
  title?: string
}
const { title } = Astro.props
---

<svg
  viewBox="0 0 24 24"
  width="24"
  height="24"
  fill="currentColor"
  stroke="currentColor"
  stroke-width="2"
  stroke-linecap="round"
  stroke-linejoin="round"
  role={title ? "img" : "presentation"}
  aria-hidden={!title}
>
  {title && <title>{title}</title>}
  <path d="M58.6667 22.299C58.6667 21.0285 57.8824 20.0756 56.6275 20.0756H50.9804C50.9804 20.0756 46.5882 19.758 45.4902 14.8349C44.549 11.0234 43.9216 8.00599 39.3725 8.00599C38.2745 8.00599 36.8627 8.00599 35.451 8.00599C35.451 8.00599 31.8431 8.00599 28.3922 8.00599C26.9804 8.00599 25.7255 8.00599 24.4706 8.00599C20.0784 7.84718 19.2941 10.8646 18.3529 14.6761C17.2549 19.5992 13.0196 19.9168 13.0196 19.9168H7.37255C6.27451 19.9168 5.33333 21.0285 5.33333 22.299L6.11765 37.386V37.5448L5.33333 56.9198C5.33333 58.0314 6.27451 58.6667 7.37255 58.6667H56.6275C57.7255 58.6667 58.6667 58.0314 58.6667 56.9198L57.8824 37.2272C57.8824 37.2272 57.8824 37.2272 57.8824 37.0684L58.6667 22.299ZM28.3922 14.1996H35.2941C36.2353 14.1996 37.1765 15.4701 37.3333 16.423C37.4902 17.5346 36.549 18.9639 35.6078 18.9639H28.7059C27.7647 18.9639 26.8235 17.6935 26.6667 16.7406C26.5098 15.6289 27.451 14.1996 28.3922 14.1996Z" transform="scale(0.375)" />
  <path d="M33.0667 48C33.2444 48 33.2444 48.5614 33.2444 48.9825C33.2444 49.9649 32.3556 50.6667 32 50.6667C31.6444 50.6667 30.7556 49.9649 30.7556 48.9825C30.7556 48.5614 30.7556 48 30.9333 48H29.5111C29.3333 48 29.3333 48.9825 29.3333 49.5439C29.3333 51.6491 31.2889 53.3333 32 53.3333C32.7111 53.3333 34.6667 51.6491 34.6667 49.5439C34.6667 48.9825 34.4889 48 34.4889 48H33.0667Z" transform="scale(0.375)" opacity="0.9" />
  <path d="M38.6032 35.7117C37.5873 29.7658 34.0317 24 32.5079 24C30.8148 24 26.9206 29.9459 25.7355 35.7117L21.3333 39.6757V50.6667H25.2275L28.7831 46.3423C29.1217 46.7027 29.6296 47.0631 29.9683 47.0631H34.5397C35.0476 47.0631 35.3862 46.8829 35.7249 46.3423L39.2804 50.6667H42.6667V39.6757L38.6032 35.7117ZM32.1693 33.7297C31.3228 33.7297 30.6455 33.7297 29.9683 33.9099C30.6455 31.7477 31.6614 30.1261 32.1693 30.1261C32.6773 30.1261 33.6931 31.9279 34.3704 33.9099C33.6931 33.7297 33.0159 33.7297 32.1693 33.7297Z" transform="scale(0.375)" opacity="0.9" />
</svg>
