---
export interface Props {
  title?: string
}
const { title } = Astro.props
---

<svg
  viewBox="0 0 24 24"
  width="24"
  height="24"
  fill="currentColor"
  stroke="currentColor"
  stroke-width="2"
  stroke-linecap="round"
  stroke-linejoin="round"
  role={title ? "img" : "presentation"}
  aria-hidden={!title}
>
  {title && <title>{title}</title>}
  <path d="M13.3333 29.8203L20.4278 22.9478C22.5509 12.8484 28.7818 2.66667 31.9682 2.66667C35.1523 2.66667 41.3833 12.8484 43.5064 22.9478L50.6667 29.8862V48H45.6749L38.7155 41.2605C38.0017 41.9837 37.2108 42.5904 36.3654 43.0685H27.5563C26.7166 42.5893 25.9325 41.9793 25.2187 41.2605L18.2582 48H13.3333V29.8203ZM31.975 13.2859C33.0837 13.2859 35.0377 16.305 36.253 19.9155C34.9367 19.6803 33.5319 19.5473 32.0692 19.5473C30.5282 19.5473 29.0576 19.6957 27.6811 19.9572C28.8976 16.3281 30.8607 13.2859 31.975 13.2859Z" transform="scale(0.375)" />
  <path d="M33.942 45.3333C34.2198 46.0228 34.3829 46.8596 34.3829 47.7677C34.3829 50.103 32.5664 52.0012 31.9638 52C31.3587 52 29.5423 50.103 29.5423 47.7677C29.5423 46.8596 29.7077 46.0228 29.9843 45.3333H27.1812C26.8502 46.5469 26.6667 47.9041 26.6667 49.3338C26.6667 54.4887 30.6667 58.6643 32.0012 58.6667C33.3345 58.6667 37.3333 54.4887 37.3333 49.3338C37.3333 47.9041 37.1486 46.5469 36.8188 45.3333H33.942Z" transform="scale(0.375)" />
</svg>
