/* Order matters */

/* 1. Fonts */
@import "./fonts.css";

/* 2. Design tokens */
@import './design-tokens.css';
@import './colors-primitives.css';
@import './colors-semantic.css';

/* 3. Optional reset */
@import "./reset.css";

/* 4. Global base styles */
html {
  font-family: var(--body-sm-size);
  background-color: var(--color-bg);
  color: var(--color-text);
}

a {
  color: var(--color-link);
  text-decoration: none;
}