---
export interface Props {
  title?: string
}
const { title } = Astro.props
---

<svg
  viewBox="0 0 24 24"
  width="24"
  height="24"
  fill="currentColor"
  stroke="currentColor"
  stroke-width="2"
  stroke-linecap="round"
  stroke-linejoin="round"
  role={title ? "img" : "presentation"}
  aria-hidden={!title}
>

  {title && <title>{title}</title>}
  <path d="M128,80a48,48,0,1,0,48,48A48.05,48.05,0,0,0,128,80Zm0,80a32,32,0,1,1,32-32A32,32,0,0,1,128,160Zm119.91-28.68a8,8,0,0,0-6.86-4.65,7.84,7.84,0,0,0-2.68.48,40,40,0,0,1-21.73-1.51,8,8,0,0,0-8.92,10.74,56,56,0,0,0,30.53,21.35,8,8,0,0,0,2.81.51,8,8,0,0,0,8-9.25Zm-25-92a8,8,0,0,0-8-8,56,56,0,0,0-30.53,21.35,8,8,0,1,0,13.62,8.29,40,40,0,0,1,21.73-1.51,8,8,0,0,0,2.68.48,8,8,0,0,0,6.86-4.65A8,8,0,0,0,222.89,119.35Zm-96.6-92a8,8,0,0,0-11.09,2.22A56,56,0,0,0,84.67,48.9a8,8,0,0,0,8.29,13.62A40,40,0,0,1,114.69,61.88a8,8,0,0,0,13.6-8.33A8,8,0,0,0,126.29,27.35Zm91.67,165a8,8,0,0,0-13.6,8.33,40,40,0,0,1-21.73,1.51,8,8,0,0,0-8.29,13.62A56,56,0,0,0,218,237.35a8,8,0,0,0,11.09-2.22A8,8,0,0,0,217.96,192.35Z" transform="scale(0.375)" />
</svg>
