---
import Footer from "../components/footer.astro"
import Metadata from "../components/common_metadata.astro"
import Categories from "../components/categories.astro"
import Hidden_Inputs from "../components/hidden_inputs.astro"
import Theme_Buttons from "../components/theme_buttons.astro"
import Search from "../components/search.astro"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/dialog_polyfill.css">
		<link rel="stylesheet" href="/common.css">
		<noscript>
			<link rel="stylesheet" href="/noscript.css">
		</noscript>
		<link rel="icon" href="/icons/rocket_32.png" type="image/png" data-pagefind-meta="image[href]">
		<script src="/common.js" defer></script>
		<Metadata/>
		<title data-pagefind-meta="title">FF Apps Archive</title>
	</head>
	<body id="body" data-pagefind-body>
		<Hidden_Inputs/>
		<header>
			<img src="/icons/rocket_bag_64.png" srcset="/icons/rocket_bag_128.png 2x, /icons/rocket_bag_512.png 8x" alt="" width="64" height="64">
			<h1 id="long_header">FF Apps Archive (beta)</h1>
			<h1 id="short_header" aria-hidden="true">FFAA</h1>
			<Search/>
			<Theme_Buttons/>
		</header>
		<div id="scroller">
		<main>
			<p>FF Apps Archive contains thousands of apps from the defunct Firefox Marketplace.
			</p>
			<p><a href="all/1">All Apps</a></p>
			<p><a href="packaged/1">Packaged Apps - can be installed here</a></p>
			<p><a href="privileged/1">Privileged Apps - cannot be installed directly and must be sideloaded using developer tools</a></p>
			<p><a href="hosted/1">Hosted Apps - possibly installable, but might no longer function</a></p>
			<p><a href="dead/1">Dead Hosted Apps - cannot be installed</a></p>
			<p id="pwas_link" hidden><a href="pwa/1">Progressive Web Apps (PWAs) - can be installed in modern web browsers</a></p>
			<Categories/>
			<p>
				Firefox apps can be installed on any version of Firefox OS and on old versions of the Firefox web browser until v46.<br>
				<a href="https://ftp.mozilla.org/pub/firefox/releases/45.9.0esr/">Firefox desktop v45</a><br>
				<a href="https://archive.mozilla.org/pub/mobile/releases/45.0.2/">Firefox Android v45</a><br>
				<a href="https://freesoft.net/android/firefox_os_25_developer_preview">Firefox OS 2.5 Android launcher</a>
			</p>
			<p>
				For instructions on sideloading privileged apps on Firefox OS, see <a href="sideloading">Sideloading Instructions</a>.
			</p>
			<p><a href="contact">Contact FFAA</a></p>
			<p>Credits:<br>
				<a href="https://danielherr.software">Daniel Herr</a> - Project Creator and Engineer<br>
				<a href="https://t.me/ileios">Dimitrios Vlachos</a> - Community Manager
			</p>
		</main>
		<Footer/>
		</div>
	</body>
</html>